<div class="index">
  <h1>Задачи</h1>
<% @items.each do |item| %>
<div class="todo_list">
<% if item.completed_at.nil?  %>
 <%=item.description %>
<% else %>
    <del><%=item.description %></del>
<% end %>
<div class ="set_items">
<div class="todolist_success"><%= link_to "+", complete_todolist_todoitem_path(@list,item.id), method: :patch %></div>
  <div class="todolist_del"><%= link_to 'X', todolist_todoitem_path(@list, item.id), method: :delete, data: { confirm: "Вы уверены?" }%></div>
  </div>
      </div>
      <br>
<% end %>



<div>
  <%=render "todoitems/form" %>
</div>
  <%= link_to "Назад", root_path, class: "btn btn-default"  %>
</div>


